.error-msg{
    color: red;
    font-size: 16px;
    font-weight: 300;
  
}




.contenedor-login{
    margin: 130px auto;
    width: 408px;
    height: auto;
  background-color: rgba(255, 255, 255, 0.3);
    padding: 70px ;
    gap: 4px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4)
    
}

.contenedor-input-label{
    width: 348px;
    height: auto;
    font-family: Inter, sans-serif;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 20px;
}

.contenedor-input-label input{
    width: 100%;
    height: 40px;
    padding: 0 12px; 
    margin: 0px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 2px solid #5a565e; 
    box-sizing: border-box;
}
.contenedor-input-label input::placeholder{
    color: #888;
}



.contenedor-input-label input:hover{
    border: 2px solid #7a1fe6; 
}

.contenedor-input-label input:focus{
    outline: none;
    border: 2px solid #7a1fe6; 
}


.campo-formulario{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    align-items: baseline;
    font-family: Arial, Helvetica, sans-serif;
    gap: 12px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
}
.campo-formulario > p{
    color: 
#49494A;
    font-size: 12px;
}


.informacion-error {
    margin: 0px;
    padding: 0px;
    border:  red solid;


}



.reCaptcha {
    display: flex;
    width: 308px;
    height: 78px;
    background-color: #F9F9F9;
    border: #9C9C9C 1px solid;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    align-items: center;
    padding: 0 16px; 
    box-sizing: border-box;
    cursor: pointer; 
    user-select: none;
}

.reCaptcha-contenido {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.reCaptcha-boton {
    width: 28px;
    height: 28px;
    background-color: #ffff;
    border: #444746 2px solid;
    border-radius: 2px;
}

.reCaptcha-texto {
    font-family:  Arial, sans-serif;
    font-size: 14px;
    color: #222222;
    margin-left: 12px;
    flex-grow: 1; 
}

.recaptcha-logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recaptcha-logo {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
}


.reCaptcha input[type="checkbox"] {
    display: none;
}

.reCaptcha-enviar{
    margin: 0px 0px 10px 0px ;
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.boton-form{
    width: 324px;
    height: 54px;
    padding: 8px 32px 8px 32px;
    border-radius: 32px;
    border-style: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: #AA6600;
    color: #FFFFFF;

}
@keyframes aumentarBoton{
    0%{
        height: 54px;
        width: 324px;

    }
    50%{
        height: 70px;
        width: 340px;
        box-shadow: 0 0 5px 15px rgba(255, 255, 255, 0.647);
        font-size: 38px;
    }

   
    
    100%{
        height: 54px;
        
    }

}
.boton-form:hover{
    color: #26154C;
    background-color:#DB891E ;
    cursor: pointer;
    border: #ffffff 3px solid;
    animation: aumentarBoton 2.3s infinite ease-out;

}

.iniciar-session-app{

    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: center;
    gap: 16px;
    width: 324px;
    height: 48px;
    padding: 8px;
    background-color: #0f2a30;
    border-radius: 30.5px;
    justify-content: center;
   
}

.iniciar-session-app > p{

    width: auto;
    height: 48px; 
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
   
}


.google{
    background-color: #F9F9F9;
    border: #747775 3px solid;
}
.google:hover{
    border: 4px  #464847  solid;
    height: 52px;
    width: 328px;
     user-select:none;
     cursor:pointer;
}
.app-logo-container{
    width: 32px;
    height: 32px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    
}

.facebook-logo{
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    background-color: #F9F9F9;
    
}
.google-logo{
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    background-color: #F9F9F9;
}


.inicio-redes{
display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
margin-top: 15px;

}
.inicio-redes p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
   
}
.p-o{
    margin-top: 20px;
    margin-bottom: 5px;
}

.cambiar-modo{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 20px;
font-weight: 400;
margin-top: 34px;
}
.cambiar-modo>a{
    
    text-decoration: none;
    font-weight: 700;
    color: black;
    padding: 8px 32px 8px 32px;
}

.cambiar-modo>a:hover{
    font-size: 22px;
}



.logo{
  width: 100%;       
    max-width: 600px; 
    height: auto;

  border-radius: 50%;
}
.login-header{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.bienvenido-login{
    margin-bottom: 40px;
}




#contenedor-principal{
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.carrusel-juegos {
    width: 1440px;
    height: auto;
    gap: 2px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

}

.carrusel-scroll {
    display: flex;
    align-items: center;
    gap: 30px;
}

.viewport-carrusel {
    width: 1440px;
    overflow: hidden;
}

.contenedor-cards {
    display: flex;
    flex-direction: row;

    width: max-content;
    height: auto;



  
   
}




.card {
    flex-shrink: 0;
    width: 344px;
    height: 168px;
    perspective: 1000px; 
}


.cards {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.card:hover .cards {
    transform: rotateY(180deg);
}


.cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    background-color: #3fb7ad;
    border-radius: 20px;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-dorso {
    transform: rotateY(180deg);

}

.imagen-juego {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 344px;
    height: 80%;
}
.imagen-juego img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.titulo-juego {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}



.imagen-wrapper {
    position: relative;
    width: 100%;
}

.card-alquilar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;

}
.card-alquilar p{
    color: #111;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    
  
}
.btn-card-alquilar{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.btn-alquiler{
    border-radius: 10px;
    background-color: yellow;
    border: none;
    width:100%;
    height: 100%;
}
.btn-alquiler:hover{
    border: 1px solid red;
    cursor: pointer;
    
}
.alq-1mes{
    width: 80px;
    height: 30px;
}
.alq-2mes{
    width: 110px;
    height: 40px;
}
.alq-3mes{
    width: 140px;
    height: 60px;
}



.ocultar-card{
    display: none;
}



.confirmar-confirmacion{
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 255, 0, 0.897);
     width: 100px;
    height: 40px;
   
 
}

.cancelar-confirmacion{
        border: none;
    border-radius: 12px;
    background-color: rgba(255, 0, 0, 0.558);
    width: 80px;
    height: 30px;
  
}

.colocacion-precio{
    display: none;
}




.mostrar-info-alquiler{
display: flex;
flex-direction: column;
width: 80%;

}
.fila-dato {
    display: flex;
    align-items: center;

}


@keyframes moverIzquierda {

    0% {
        transform: translateX(0px) scale(1);
    }

    50% {
        transform: translateX(-177px) scale(0.80);
    }

    100% {
        transform: translateX(-354px) scale(1);
    }
}


@keyframes moverDerecha {

    0% {
        transform: translateX(0px) scale(1);
    }

    50% {
        transform: translateX(177px) scale(0.80);
    }

    100% {
        transform: translateX(354px) scale(1);
    }
}



.animar {
    animation: moverIzquierda 1.9s ease-in-out;
}


.animar-derecha {
    animation: moverDerecha 1.9s ease-in-out;
}

.carrusel-scroll{
    display: flex;
    align-items: center; 
    gap: 15px;          
    width: 100%;
}
  

.mover-derecha, .mover-izquierda{
    position: absolute;
    top:50%;
    z-index: 30;
    width: 34px;
    height: 41px;
    display: flex;
     justify-content:start;
     align-items: center;
     color: #72F5D0;
     font-size: 42px;
     background-color: #a5a5a59b;
     border: none;
    }

    .mover-derecha:hover , .mover-izquierda:hover{
        background-color: #0f2a30;
    }
.mover-derecha {
   
    
    padding-left: 15px ;
    right: 1px; 
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
     
}
.mover-izquierda {
    
    padding-left: 5px ;
    border-top-right-radius:100px;
    border-bottom-right-radius: 100px;
    left: 1px;
 
}

.juego{
    margin: 2px;
}



/*****************/




.recargar-coins-formulario{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #26154C;

    color: #ffffff;
    padding: 10px;
    width: 260px;
    height: auto;
    align-items: center;
   position: absolute;
   right: 0;
   top: 100%;
    left: 700px;  
    z-index: 2147483647; 
}

.recargar-coins button{
    border-style: none;
    width: 200px;
    border-radius: 12px;
    }
.ocultar-qr{
    display: none;
}

.recargar-coins-formulario label{
    width: 100%;
white-space: normal;
}

.total-a-pagar{
    margin: 0px;
padding: 0px;
}
#total-pago-coins{
    margin: 0px;
    padding: 0px;
}